<div class="panel panel-primary p-5">
  <div class="panel-heading text-center">
    <h2>Audittrail Magenta</h2>
  </div>
  <div class="panel-body">
    <table class="table table-bordered mt-5">
      <thead>
        <tr>
          <th>Id</th>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let audittrail of audittrails | async">
          <td>{{audittrail.id}}</td>
          <td>{{audittrail.username}}</td>
          <td>{{audittrail.email}}</td>
          <td>{{audittrail.role}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>