<div class="panel panel-primary p-5">
  <div class="panel-heading text-center">
    <h2>Audittrail Magenta</h2>
  </div>
  <div class="panel-body">
    <table class="table table-bordered mt-5">
      <thead>
        <tr>
          <th>Id</th>
          <th>Id Merch</th>
          <th>Field</th>
          <th>Old Value</th>
          <th>New Value</th>
          <th>Created Date</th>
          <th>Created By</th>
          <th>Created By Name</th>
          <th>Created Terminal</th>
          <th>Changes Type</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let audittrail of audittrails | async">
          <td>{{audittrail.id}}</td>
          <td>{{audittrail.idFdmMerchant}}</td>
          <td>{{audittrail.field}}</td>
          <td>{{audittrail.oldValue}}</td>
          <td>{{audittrail.newValue}}</td>
          <td>{{audittrail.createdDate}}</td>
          <td>{{audittrail.createdBy}}</td>
          <td>{{audittrail.createdByName}}</td>
          <td>{{audittrail.createdTerminal}}</td>
          <td>{{audittrail.changesType}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>